body {
    background-color:#151522;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  body,
  html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  svg{
    width:90%;
    height:90%;
    visibility:hidden;
  }
  footer{
    
      background: linear-gradient(45deg, #064513, #ff9900); 
      color: white;
      text-align: center; 
      justify-content: center;
      padding: 25px; 
      font-family: 'Arial', sans-serif; 
      font-size: 24px; 
      line-height: 1.5; 
      border-radius: 10px;
    }
  